<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<button type="button" class="btn btn-primary" onclick={{action 'toggleShow'}}>
  Show Modal
</button>

{{#if showModal}}
  {{#bootstrap-modal close=(action 'toggleShow') closeOnOverlayClick=true as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title">Test</h4>
    {{/modal.header}}

    {{#modal.body}}
      Test
    {{/modal.body}}

    {{#modal.footer as |close|}}
      <button {{action close}} type="button" class="btn btn-primary">
        Close
      </button>
    {{/modal.footer}}
  {{/bootstrap-modal}}
{{/if}}
