{{#liquid-wormhole
  to='bootstrap-modal'}}
  <div>
    <div class="modal-backdrop {{if closeOnOverlayClick 'clickable'}}" {{action 'overlayClick'}}></div>
    <div class="modal-dialog">
      <div class="modal-content">
        {{yield (hash
          header=(component 'bootstrap-modal-header' close=(action close))
          body=(component 'bootstrap-modal-body')
          footer=(component 'bootstrap-modal-footer' close=(action close))
        )}}
      </div>
    </div>
  </div>
{{/liquid-wormhole}}
